:root {
  /* text */
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Gradients */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}
body {
  font-family: "Rubik", sans-serif;
  margin: 1px;
  background-color: #eee;
  position: relative;
}

body .purple {
  width: 24%;
  height: 880px;
  position: absolute;
  z-index: -1;
  border-bottom-left-radius: 300px 199px;
  border-bottom-right-radius: 500px 400px;
  background-image: linear-gradient(
    45deg,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
}

body .gray {
  width: 243px;
  height: 880px;
  background-color: var(--Light-Grayish-Violet);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-top-right-radius: 59px 30px;
  border-top-left-radius: 500px 400px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.all .container {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.all .container .box {
  flex-basis: 30%;
  border: 15px solid white;
  /* border-radius: 20px; */
  border-radius: 46px 46px 20px 20px;
  margin: 100px 0;
}

.all .container .box .head {
  background-image: linear-gradient(
    45deg,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 18px;
  border-radius: 32px 32px 10px 10px;
  position: relative;
}

.all .container .box .head::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 43px;
  background-color: white;
  top: 9px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 17px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}

.all .container .box .head .title {
  display: flex;
  align-items: end;
  margin-left: 10px;
}

.all .container .box .head .title .image {
  margin-right: 15px;
  position: relative;
  top: 13px;
  top: 18px;
  padding: 10px 0;
}

.all .container .box .head .title .image img {
  border-radius: 50%;
  width: 50px;
  border: 3px solid white;
  width: 36px;
}

.all .container .box .head .title .image::before {
  content: "<";
  position: absolute;
  top: 47%;
  left: -25%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 31px;
}

.all .container .box .head .title .name {
  font-size: 12px;
}

.all .container .box .head .title .name h2 {
  margin: 0;
}

.all .container .box .head .dots .dot {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin-top: 3px;
}

.all .container .box .body {
  background-color: #eee;
  padding: 12px 12px 11px 12px;
}

.all .container .box .body .part-1 p {
  color: var(--Moderate-Violet);
  /* background-color: var(--Pale-Violet); */
  background-color: hsl(276deg 100% 81% / 35%);
  padding: 10px;
  width: 50%;
  font-size: 12px;
  border-radius: 10px 13px 13px 5px;
}

.all .container .box .body .part-2 ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: end;
}

.all .container .box .body .part-2 ul li img {
  width: 60px;
  border-radius: 15px;
  margin-left: 10px;
}

.all .container .box .body .part-3 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.all .container .box .body .part-3 p {
  color: #777;
  background-color: white;
  padding: 10px;
  width: 50%;
  font-size: 11.5px;
  margin: 5px;
  border-radius: 13px 10px 5px 13px;
}

.all .container .box .body .part-3 .try {
  width: fit-content;
}

.all .container .box .body .part-4 {
  color: var(--Moderate-Violet);
  /* background-color: var(--Pale-Violet); */
  background-color: hsl(276deg 100% 81% / 35%);
  padding: 10px;
  width: 50%;
  font-size: 12px;
  border-radius: 10px 13px 13px 5px;
}

.all .container .box .body .part-4 p {
  margin: 0;
}

.all .container .box .body .part-5 {
  width: 80%;
}

.all .container .box .body .part-5 .tall-box {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  margin-top: 10px;
  border-radius: 18px 10px 10px 7px;
  color: white;
  justify-content: space-around;
}

.all .container .box .body .part-5 .tall-box p {
  margin: 10px 0;
}

.all .container .box .body .part-5 .tall-box .space {
  padding: 0 0 0 3px;
}

.all .container .box .body .part-5 .tall-box span {
  font-size: 25px;
}

.all .container .box .body .part-5 .tall-box .big {
  margin-left: 40px;
}

.all .container .box .body .part-6 {
  position: relative;
}
.all .container .box .body .part-6 .circle {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.all .container .box .body .part-6 .circle::before {
  content: ">";
  position: absolute;
  top: 47%;
  right: 13%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.all .container .box .body .part-6 input {
  margin: 10px 0;
  background-color: white;
  border: none;
  padding: 15px 0 15px 15px;
  /* padding: 15px 0; */
  width: calc(100% - 15px);
  border-radius: 30px;
  color: #777;
  transition: 1s;
}
.all .container .box .body .part-6 input[type="text"]:focus {
  outline: none;
}
.all .container .box .body .part-6 input[type="text"]::placeholder {
  transition: opacity 0.3s;
}
.all .container .box .body .part-6 input[type="text"]:focus::placeholder {
  opacity: 0;
}

.all .container .text {
  flex-basis: 30%;
}

.all .container .text h2 {
  /* margin-bottom: 0; */
  margin-bottom: 25px;
  font-size: 30px;
  letter-spacing: 1px;
  color: var(--Very-Dark-Desaturated-Violet);
}

.all .container .text p {
  font-size: 13px;
  line-height: 1.6;
  color: #777;
}

@media (max-width: 767px) {
  body .purple {
    width: 50%;
    height: 900px;
  }
  body .gray {
    width: 200px;
    height: 600px;
  }

  .all .container {
    flex-direction: column;
    margin: 0 15px;
  }

  .all .container .text {
    text-align: center;
    margin-top: 40px;
  }

  .all .container .text h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .all .container .text p {
    font-size: 18px;
    margin: 20px 0 60px 0;
  }

  .all .container .box {
    margin-top: 100px;
  }
}
